<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/static/dashboard.css">

<title>seismic notifier for Glass&#153;</title>

<h1>seismic notifier for Glass&#153;</h1>

<article>
    <section>
        <header>
            <h2 tabindex="1">Locations of interest</h2>
        </header>
        {% if locations_of_interest %}
        <ul id="loi-list">
            {% for location in locations_of_interest %}
            <li>
                <form method="POST" action="/loi">
                    <input type="hidden" name="action" value="delete" />
                    <input type="hidden" name="key" value="{{ location.key }}" />
                    <span tabindex="2">{{ location.description }}</span>
                    <input type="submit" class="loi-delete" value="remove" tabindex="2" />
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p tabindex="1">Places whose earthquakes you want to see will go here.</p>
        {% endif %}
        <p>
            <form method="POST" action="/loi">
                <input type="hidden" name="action" value="put" />
                <input id="lng" type="hidden" name="lng" value="" />
                <input id="lat" type="hidden" name="lat" value="" />
                <label for="loi" tabindex="3">Add a place:</label>
                <input name="loi" id="loi" placeholder="place" tabindex="4" />
                <input id="loi-put" type="submit" value="Add" tabindex="5" />
                <div>
                    <span>Coordinates:</span>
                    <span id="geocode-output"></span>
                </div>
            </form>
        </p>
    </section>

    <section>
        <p>Don&apos;t want notifications anymore?
        <a href="{{ revoke_url }}">Revoke access.</a></p>
    </section>
</article>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/static/geocode.js"></script>
