<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/static/index.css">

<title>seismic notifier for Glass&#153;</title>

<h1 tabindex="1">seismic notifier for Glass&#153;</h1>

<p tabindex="2">Get relatively timely updates on your Glass about earthquakes
near places that matter to you.</p>

<p><a id="auth-link" href="{{ authorization_uri }}" tabindex="3">Let&#39;s go</a></p>

<p style="font-size:0.5em;">Glass is a registered trademark of Google Inc.</p>
