<!DOCTYPE html>

<meta charset="utf-8" />

<title>test | hello gae</title>

<p>Test page for timeline insert.</p>

<form method="POST" action="/timeline">

<div>
<label for="loc">Address:</label>
<input id="loc" name="loc" />
</div>

<div>
<label for="lng">Longitude:</label>
<input id="lng" name="lng" />

<label for="lat">Latitude:</label>
<input id="lat" name="lat" />
</div>

<div>
<label for="mag">Magnitude:</label>
<input id="mag" name="mag" />
</div>

<input type="submit" value="Post to timeline" />

</form>
